<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Сравнение игроков</title>
  <link rel="stylesheet" href="/templates/versus.css">
</head>
<body>
  <h1>Сравнение игроков</h1>
  <label>ID игрока 1: <input type="number" id="player1"></label><br>
  <label>ID игрока 2: <input type="number" id="player2"></label><br>
  <button id="compare">Сравнить</button>
  <div id="result"></div>
  <script>
    const matches = {{ matches | tojson }};
    const teamById = {{ ti | tojson }};
    const teamByName = {{ tn | tojson }};
  </script>
  <script src="/templates/versus.js"></script>
</body>
</html>